/* general */
*{
  font-family: 'Josefin Sans';
  font-size: 18px;
  font-weight: 400;
}
.background{
  width: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}
.mode-icon{
  object-fit: contain;
  cursor: pointer;
}
.title{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-elements{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}
.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
@media screen and (min-width: 500px){
  .background{
    height: 271px;
    object-fit: cover;
  }
  .app-elements{
    width: 500px;
    min-width: 375px;
    margin: 65px auto ;
  }
  h1{
    font-size: 40px;
  }
}
@media screen and (min-width: 375px) and (max-width: 499px){
  .app-elements{
    padding: 30px;
    object-fit: contain;
    margin: 9px auto;
  }
  .background{
    height: 180px;
    object-fit: cover;
  }
  h1{
    font-size: 25px;
  }
  .mode-icon{
    height: 20px;
  }
}

/* both mode */

/* light mode */
.light-mode{
  background-color: hsl(0, 0%, 98%);
}

/* dark mode */
.dark-mode{
  background-color: hsl(235, 21%, 11%);
}